.App
    text-align: left
    width: 80%
    margin: auto
    
.features-grid
    display: grid
    grid-template-rows: 1fr 1fr
    grid-template-columns: 1fr 1fr
    align-items: center
    justify-content: center
    margin: auto

    position: relative